.error {

    &__block {
        text-align: center;

        img {
            width: 50%;
            height: auto;
        }
    }

    &__message {
        font-size: 22px;
        font-weight: 400;
    }
}