@import "../../styles/variables.scss";

.error {

    &__block {
        text-align: center;

        img {
            width: 50%;
            height: auto;
        }
    }

    &__message {
        color: $main-color;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 60px;
    }
}