.not-found__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 0 80px 0;

    h1 {
        color: #18333E;
        font-family: Black Ops One;
        font-size: 250px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: min-content;
    }

    h3 {
        color: #000;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
    }
}