button {
    border-radius: 12px;
    background: #18333E;
    border: none;
    padding: 15px;
    height: min-content;

    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;

    cursor: pointer;
}