$main-color: #18333E;
$back-color: #FFF;
$yellow-color: rgb(253, 220, 99);
$pink-color: rgb(249, 115, 171);
$mint-color: rgb(105, 221, 200);
$purple-color: rgb(157, 137, 223);
$main-border-color: #B4BCC4;