@import '../../styles/variables.scss';

.collection-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  min-width: 243px;
  max-width: 243px;
  height: 347px;
  padding: 25px;
  cursor: pointer;

  border-radius: 30px;
  box-shadow: 0 2px 13.1px 0 rgba(0, 0, 0, 0.12);

  background-color: #b2cfec;

  h2.title-item, i {
    color: $main-color;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}