@import '../../styles/variables.scss';

.collection-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    min-width: 243px;
    max-width: 243px;
    height: 347px;
    padding: 25px;
    cursor: pointer;

    border-radius: 30px;
    // box-shadow: 0px 2px 13.1px 0px rgba(0, 0, 0, 0.12);
    // background: lightgray 50%;

    background-color: #b2cfec;

    h3.title {
        color: $main-color;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
}