.search-word {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 75%;

    .word__block {
        width: inherit;
        position: relative;

        input {
            background: url("../../resources/icons/search-main.svg") left 15px center no-repeat #E9F1FA;
            border: none;
            padding: 15px;
            padding-left: 45px;
            border-radius: 12px;
            width: 100%;


            color: #738C96;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;

            &:focus {
                outline: none;
            }
        }

        &__error {
            position: absolute;
            margin-top: 10px;
            color: red;
        }
    }

    button {
        border-radius: 12px;
        background: #18333E;
        border: none;
        padding: 15px;
        height: min-content;

        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;

        cursor: pointer;
    }
}