@import "../../styles/variables.scss";

header {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 30px;
    margin-bottom: 80px;

    .header {
        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // padding-top: 30px;
            gap: 10px;

            .search-word {
                width: 60%;

                .word__block__error {
                    display: none;
                }
            }

            .title {
                color: #18333E;
                font-size: 22px;
                font-weight: 600;
                line-height: normal;
                width: fit-content;
                text-wrap: nowrap;

                a {
                    width: inherit;
                }
            }

            .nav {
                &__list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: nowrap;

                    li {
                        width: 53px;
                        height: 53px;
                        border: 1px solid $main-border-color;
                        border-radius: 27px;
                    }
                }

                &__tab {
                    width: 100%;
                    height: 100%;
                    border-radius: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    cursor: pointer;
                }
            }
        }
    }
}