@import "../../styles/variables.scss";

header {
    background-color: rgba(255, 255, 255, 0);
    margin-top: 30px;

    .header {
        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            // padding-top: 30px;
            gap: 10px;

            .title {
                color: #18333E;
                font-size: 22px;
                font-weight: 600;
                line-height: normal;
            }

            .nav {
                &__list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: nowrap;

                    li {
                        width: 53px;
                        height: 53px;
                        border: 1px solid $main-border-color;
                        border-radius: 27px;

                        a {
                            width: 100%;
                            height: 100%;
                            border-radius: 27px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }

        &__search {

            input {
                background: url("../../resources/icons/search-main.svg") left 15px center no-repeat #E9F1FA;
                border: none;
                padding: 15px;
                padding-left: 45px;
                border-radius: 12px;
                margin-right: 25px;
                width: 450px;

                color: #738C96;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;

                &:focus {
                    outline: none;
                }
            }

            button {
                border-radius: 12px;
                background: #18333E;
                border: none;
                padding: 15px;

                color: #FFF;
                font-size: 12px;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}